header {
    grid-area: header;
}

aside:first-of-type {
    grid-area: izquierda;
    
}

article {
    grid-area: contenido;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}



footer {
    grid-area: footer;
    background-color: gray;
}