@import "fonts";
@import "colores";

.articulo-planes {
    background-color: $negro;
    color: $blanco;
    font-family: $fontplanes;
}

.articulo-preguntas{
    background-color: $negro;
    color: $blanco;
    h3{
        color:$h3;
    }
    
}