.articulo-planes{
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}

.articulo-planes {
    background-color: black;
    color: white;
    font-family: monospace;
}

.articulo-preguntas{
    background-color: black;
    color: white;
    h3{
        color:rgb(28, 28, 184);
    }
    
}