.card {
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06) ;

}
 .card-tittle{
     min-height: 5rem;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     
 }

 .card-text {
     min-height: 10rem;
     font-family:sans-serif;
 }

 .nosotros {
    height: 500px;
  background-position: center;
  color: black;
  background-color: white;
  text-align: center;
  padding-top: 10px;
  overflow-y: scroll;
  
}


.comenzar {
    background-color: black;
    color: white;
    height: 300px;
}



.titulo-planes{
    height: 200px;
    background-color: white;
    color: black;
    margin-bottom: 20px;
}

.principio{
    border: blue solid;
    border-style: groove;
   

}

.preguntas-titulo{
    color: white;
    height: 200px;
    background-color: grey;
}

.body-preguntas{
    background-color: black;
}