@import "colores";
@import "fonts";

.card {
    border: 0 !important;
    box-shadow: 0 4px 6px -1px $sombreado ;

}
 .card-tittle{
     min-height: 5rem;
 }

 .card-text {
     min-height: 10rem;
     font-family:$carta;
 }

 .nosotros {
    height: 500px;
  background-position: center;
  color: $negro;
  background-color: $blanco;
  text-align: center;
  padding-top: 10px;
  overflow-y: scroll;
  
}


.comenzar {
    background-color: $negro;
    color: $blanco;
    height: 300px;
}



.titulo-planes{
    height: 200px;
    background-color: $blanco;
    color: $negro;
    margin-bottom: 20px;
}

.principio{
    border: $h3;
    border-style: groove;
   

}

.preguntas-titulo{
    color: $blanco;
    height: 200px;
    background-color: $gris;
}

.body-preguntas{
    background-color: $negro;
}