.footer-index{
    height: 200px;
}

.footer-contacto{
    background-color: black;
    color:white
}

.footer-planes {
    background-color: black;
    color: white;
}

.footer-preguntas {
    background-color: black;
    height:200px;
    color: white;
   
}
