@import "colores";
.footer-index{
    height: 200px;
}

.footer-contacto{
    height: 200px;
    background-color: $negro;
    color:$blanco;
}

.footer-planes {
    background-color: $negro;
    color:$blanco;
    
}

.footer-preguntas {
    background-color: $negro;
    height:200px;
    color:$blanco;
    
   
}

.footer-nosotros{
    background-color: $gris;
}
