main {
    display: grid;
    font-family: sans-serif;
    height: 100vh;
    grid-gap: 10px;

    
    grid-template-areas:
        "header"
        "izquierda"
        "contenido"
        "footer";
}

main > * {
    background-color: grey;
    
}