@import "colores";
@import "fonts";
.main_index{
    background-color: $gris;
}

.body-contacto{
    background-color: $negro;
}

.main-contacto{
    background-color: $gris;
    color: $negro;
    font-family:$contacto;
    h3 {
        color:$h3;
    }
    
}

.main-planes{
    background-color: $negro;
}