@media (min-width: 500px) {
    main {
        grid-template-areas:
            "header header header"
            "izquierda contenido contenido"
            "footer footer footer";
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr 5fr 1fr;
    }
}