body {
    background-color: black;
}

article{
    color: white;
    margin-top: 100px;

  
}

.preguntas_titulo{
    color: white;
    height: 200px;
    background-color: grey;
}

h3 {
    color: rgb(28, 28, 184)
}

footer {
    background-color: gray;
    height:200px;
   
}




